@model MarioProducts.Models.Product

@{
    ViewData["Title"] = "Product - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
		$(document).ready(function() {
           $(".add-review").submit(function(event) {
		        event.preventDefault();
                $.ajax({
                    url: '@Url.Action("Create", "Review", new{ id = Model.ProductId})',
		            type: 'POST',
		            dataType: 'json',
		            data: $(this).serialize(),
		            success: function (result) {
			            var newReview = '<p>' + '<strong><h5>Your Newly Added Review</h5></strong>' + '<strong>Author: </strong>' + result.author + '<br>' + '<strong>Review: </strong>' + result.contentBody + '<br>' + '<strong>Rating: </strong>' + result.rating + '</p>';
		                $("#show-recent").html(newReview);
		            }
		        })
		    });
		});
    </script>
</head>

<body>
    <h1>@Html.DisplayFor(model => model.Name) Details</h1>

    @if (User.Identity.IsAuthenticated)
    {
    <p>@Html.ActionLink("Edit", "Edit", new {id = Model.ProductId}) | @Html.ActionLink("Delete", "Delete", new {id = Model.ProductId})</p>
    }

    <p>@Html.DisplayNameFor(model => model.Cost): $@Html.DisplayFor(model => model.Cost)</p>
    <p>Country of Origin: @Html.DisplayFor(model => model.CountryOfOrigin)</p>
    <p>Average Rating: @Model.AverageRating()</p>

		
	<h4>Write a review for the product: @Html.DisplayFor(model => model.Name)</h4>
	<form action='(Create", "Review", new{ id = Model.ProductId})' class="add-review">
        <label for="review">Author</label>
		<input type="text" name="author"/>
		<label for="review">Review</label>
        <input type="text" name="contentBody"/>
		<label for="review">Add Rating (1-5)</label>
        <input type="number" name="rating"/>
		<button type="submit">Add Review</button>
	</form>

	<div id="show-recent"></div>

    <h3 class="get-reviews">View All Reviews</h3>		
	@foreach(var review in Model.Reviews)
		{
            <li>@review.Author
            <br>
			@review.ContentBody
			<br>
			@review.Rating |
                @if(User.Identity.IsAuthenticated)
    			{
                    <p>@Html.ActionLink("Delete", "Delete", "Review", new {reviewId = review.ReviewId, productId = review.ProductId})</p>
    			}
		    </li>
		}    
</body>
</html>

