@model MarioProducts.Models.Review

@{
    ViewData["Title"] = "Review - Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add a Review</h1>

<div class="container">
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Author)
	@Html.EditorFor(model => model.Author)

	@Html.LabelFor(model => model.ContentBody)
	@Html.EditorFor(model => model.ContentBody)

     <label>@Html.LabelFor(model => model.Rating)</label>
    <select class="form-control" id="rating-form">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    @Html.DropDownList("ProductId")
	
    <input type="submit" value="Save"/>
   
}
</div>


<!-- <div class="form-group">
        <label>@Html.LabelFor(model => model.Author)</label>
        <small id="author-form" class="form-text">@Html.EditorFor(model => model.Author)</small>
    </div>
    <div class="form-group">
        <label>Review Text</label>
        <large id="content-form" class="form-text">@Html.EditorFor(model => model.ContentBody)</large>
    </div>
    <div class="form-group">
    <label>@Html.LabelFor(model => model.Rating)</label>
    <select class="form-control" id="rating-form">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
-->



