@model IEnumerable<MarioProducts.Models.Review>

@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reviews</h1>

@foreach (var review in Model)
{
    <li>@Html.DisplayFor(model => review.Products.Name) | 
	@Html.ActionLink("Edit", "Edit", new { id = review.ReviewId}, new { productId = review.ProductId}) |
	@Html.ActionLink("Delete", "Delete", new { id = review.ReviewId}) |
    <input type="submit" class="btn btn-sm btn-info" value="View Product Details" onclick="location.href='@Url.Action("Details", "Product", new{ id = review.ProductId})'"/> |
    <input type="submit" class="btn btn-sm btn-warning" value="Read Review" onclick="location.href='@Url.Action("Details", new{ id = review.ReviewId})'"/>
</li>
}
